[Unit]
Description=Control pulseaudio output via DBus
After=pulseaudio.service
BindsTo=pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/yavdr-pulse-dbusctl
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=yavdr-desktop.target
